<div style="display: flex; justify-content: space-between; align-items: center; margin-right: 1rem;">
    <h1 style="margin-top: 0;">Companies</h1>

    <mat-form-field appearance="outline" style="width: 300px; margin-top: 1rem;">
        <mat-label>Search companies...</mat-label>
        <input matInput [formControl]="searchControl" placeholder="Ex. 'Endava'">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>

@if (isLoading) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<div class="table-container">
    <table mat-table [dataSource]="companies" class="mat-elevation-z8">

        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> Company </th>
            <td mat-cell *matCellDef="let element">
                <div class="name-and-logo">
                    <!-- <img [src]="element.logoUrl" alt="logo" width="30" height="30"> -->
                    <mat-icon>business</mat-icon>
                    <strong>{{element.name}}</strong>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="website">
            <th mat-header-cell *matHeaderCellDef> Website </th>
            <td mat-cell *matCellDef="let element">
                <a [href]="element.website" target="_blank">{{element.website}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="open jobs">
            <th mat-header-cell *matHeaderCellDef> Open Jobs </th>
            <td mat-cell *matCellDef="let element">
                <mat-chip>{{element.jobsCount}}</mat-chip>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 25, 50]" (page)="onPageChange($event)">
    </mat-paginator>
</div>